
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(34, 31, 31);
    background-size: cover;
    background-position: center;
    color: rgb(253, 244, 244);
    width: 100%;
    height:100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 170px;
}

h1 {
    font-size: 3r;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(252, 247, 247);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.9);
}
img{
    margin-top: 50PX;
    margin-left: 850px;
    

}
.side span{
    display: block;
    list-style-type: none;
    margin-left: 100px;
    margin-top: -520px;
    font-size: xx-large;
    line-height: 150px;
    color: rgb(4, 191, 248);
    
    text-shadow: 1px 1px 6px #f5b4b4;

}  
